@page "/easydata/{url?}"
@model EasyDataBasicDemo.Pages.EasyDataModel
@{
    ViewData["Title"] = "EasyData";
}

@section Styles {
    <style>
        li:hover {
            cursor: pointer;
            background-color: aliceblue;
        }

        li.active:hover {
            background-color: mediumblue;
        }
    </style>
}

<div id="EasyData"></div>

@section Scripts {

    <script src="~/js/easydata.js" type="text/javascript"></script>
}