
.ed-entity-menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.ed-entity-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-top: 1px solid rgba(0,0,0,.125);    
    border-left: none;
    border-right: none;
    font-size: 1.2em;
}

.ed-entity-item:hover {
    cursor: pointer;
    background-color: #3498DB;
    color: white;
}

.ed-root {
    display: flex;
    flex-direction: column;
}

.ed-menu-description {
    margin: 50px auto;
    text-align: center;
    font-size: 1.5em;
}

.ed-entity-item-caption {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.ed-entity-item-caption::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    -webkit-transition: all .35s;
    transition: all .35s;
}

.ed-entity-item-descr {
    font-size: 0.8em;
    margin-left: 30px;
    margin-top: 5px;
}


/* Progress Bar start */
.ed-progress-bar {
    display: 'none';
    height: 4px;
    width: 100%;
    position: fixed;
    top: 0;
	left: 0;
    z-index: 65000;
    overflow: hidden;
    background-color: #ddd;
  }

  .ed-progress-bar:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    animation: ed-progress-bar-loading 2s linear infinite;
  }
  
  @keyframes ed-progress-bar-loading {
      from {left: -200px; width: 30%;}
      50% {width: 30%;}
      70% {width: 70%;}
      80% { left: 50%;}
      95% {left: 120%;}
      to {left: 100%;}
  }
/* Progress Bar end */

.ed-calendar-icon {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAqklEQVQ4T+3TuwlCMRSA4e+uo4UigiNoI2gpaOsa6hY6gAP4KHQDEUQb51ECN5Cb6oqNhWkS+E/+cB4pfLmK7P4IW0ywz9g4YbvIouCBFlZYJHvqyNkdnSh4lZEzrDEvX0sFU2wyVuSCJ44YopGlENihZM2SVQQXnGvWdIAeKoKQ47KmIMSFWv0FP1eDK05JG+OQpf8lnvvopm0Mc92uOQMx7BYk+W/80MEb/4ExEZgczvIAAAAASUVORK5CYII=') no-repeat;
    width: 16px;
    height: 16px;
}

.ed-timer-icon {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABLklEQVQ4T4XTPyhGYRTH8c87GZUYTFJSJgurxMSgGMRmfa3EgFIogxmbWCibxUQyYldSWEwWo4mOnvt239v7cJd773PO+T7nz+/UtH7aMY7eZH7BFT6r7rXKQSe2MYdbPCV7P0ZwhnV8FHFlwAAucYfF5NSWHL8Q8AMMYwKPYSsAYXzALg5LWa2l753SWR2rGIpLCkAEdWC2UtJm+i/ehfk8ZVgPQDTsDX3l2iqBVUBk/IyeAMxgAVMtBpLLIFwvcBSAJXRjOQMYxQ2+cYIYaTx7eP8PMIjpFBCAY7xWAX+VkNHZ73GjhL+amAM0NTGccmPMAZrGGE45IbUChJBWkiIbQgrHQsr3CKeG3hOlC/tJgZNVKRc3RSZbmM8s0yk2cstUTjcaO1ZZ5+tW6/wDn+5DtafCGz8AAAAASUVORK5CYII=') no-repeat;
    width: 16px;
    height: 16px;
}