@page "/crud/{url?}"
@model EasyDataBasicDemo.Pages.EasyDataModel
@{
    ViewData["Title"] = "EasyData";
}

<!--link rel="stylesheet" href="https://cdn.korzh.com/ed/1.4.1/easydata.min.css" /-->

<div id="EasyDataContainer"></div>

@section Scripts {
    <!--- When we want use the local compiled script -->
    <script src="~/js/easydata.js" type="text/javascript"></script>

    <!--- When we want to use the already published script -->
    <!--
    <script src="https://cdn.korzh.com/ed/1.4.1/easydata.min.js" type="text/javascript"></script>
    
    <script>
    window.addEventListener('load', () => {
        new easydata.crud.EasyDataViewDispatcher({
            basePath: 'crud',
            endpoint: '/api/easy-crud',
            //dataTable: {
            //    elasticChunks: true
            //}
            // rootEntity: 'Customer'
        }).run()
    });
    </script>
    -->
}