@page "/dashboard"
@model EasyDataBasicDemo.Pages.EasyDashboardModel
@{
    ViewData["Title"] = "EasyDashboard";
}

<link rel="stylesheet" href="//cdn.korzh.com/ed/1.4.9/easydata.min.css" />

<div id="EasyDashboardContainer"></div>

@section Scripts {
    <!--- When we want use the local compiled script -->
    <script src="//cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
    <script src="//www.gstatic.com/charts/loader.js" type="text/javascript"></script>
    <script src="~/js/dashboard.js" type="text/javascript"></script>
}