@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <div>
        <button onclick="showPicker()">Show Picker</button>
        <button onclick="showPickerWithPreset()">Show Picker With Preset</button>
    </div>
</div>


@section Scripts {
    <script src="/js/easydata-all.js" type="text/javascript"></script>
}