.keg-container * {
    outline: none;    
}


.keg-container {
    overflow: hidden;
}

.keg-header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #babfc7;
    overflow: hidden;
    flex: 0 0 auto;
}

.keg-root {
    font-family: "Roboto", Arial;
    display: flex;
    flex-direction: column;
    border: 1px solid #babfc7;
}

.keg-body {
    overflow: hidden;
    flex: 1;
}

.keg-body-viewport {
    overflow-x: auto;
    overflow-y: auto;
    height: 100%;
    border: 1px solid transparent;
}

.keg-body-viewport:focus, .keg-body-viewport:focus-within {
    border: 1px solid #838383;
}

.keg-header-row {
    min-height: 30px;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    color: rgba(0,0,0,.54);
}

.keg-row {
    display: flex;
    font-size: 12px;
    background-color: #fff;
    color: #181d1f;
    outline: none;
    border-color: #dde2eb;
    border-width: 1px;
    border-bottom-style: solid;
    height: 26px;
    align-items: center;
}

.keg-row:not(.keg-row-active):not(.keg-row-totals):hover {
    background-color: #fffae9;
}

.keg-row-odd {
    background-color: #fcfcfc;
}

.keg-row-active {
    background-color: #fff3cf;
}

.keg-cell, .keg-header-cell {
    display: flex;
/*
    flex: 1;
    min-width: 150px;
*/
}

.keg-header-cell {
    position: relative;
    align-items: center;
    padding: 2px 15px;
}

.keg-header-cell-resize {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 8px;
    top: 0;
    /*cursor: ew-resize;*/
    right: -4px;
}

.keg-header-cell-resize:after {
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    left: calc(50% - 1px);
    width: 2px;
    height: 50%;
    top: 25%;
    background-color: rgba(186,191,199,.5);    
}

.keg-header-cell-label {
    width: 100%;
    text-align: center;
    word-break: break-word;
    -ms-word-wrap: break-word;
}

.keg-cell {
    padding: 0 15px;
    border-right-width: 1px;
    border-right: solid transparent;
    align-items: center;
    height: 100%;
    outline: none;
}

.keg-cell-value {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 100%;
}

/*
.keg-row .keg-cell:first-child, .keg-header-row .keg-header-cell:first-child {
    flex: 0 0 55px;
    min-width: 55px;
}
*/

.keg-cell-align-left, .keg-cell-value-align-left {
    text-align: left;
}

.keg-cell-align-right, .keg-cell-value-align-right {
    text-align: right;
}

.keg-cell-align-center, .keg-cell-value-align-center {
    text-align: center;
}

.keg-cell-value-bool {
    margin: 0 auto;
    width: auto;
}

.keg-cell-value-true::before {
    content: "✔";
    color: #28a745;
    font-size: 16px;
}

.keg-cell-value-false::before {
    content: "✖";
    color: #dc3545;
    font-size: 16px;
}

.keg-addrow {
    position: relative;
    height: 23px;
    width: 23px;
}

.keg-addrow a {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAWCAYAAABQUsXJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAApBJREFUeNrUljFME1EYx3/v3buWNhCGemKo0eGUxEUHEtx0YHBAExc3o4sJ0Z04aeLkwOaCOjIocVLj5MSqYZEYBwiDBW2QGG21QHvX9xwobY+29o5eB/7b97+77/vf9/7ve08sLS2dBmaB64BNb9gE5oDZjM324xw8/wrYpIEZ4C4w0mMND3gNzKia8BvEgxHgAfALeNLE36nxVgw17H29EpgiXljA5AFuMibhzZiSQIL4kegSx1JDAjqU0TwP3/fDJtZd4lYIYNeHbQ9MuBoyzFtSSlzXJZvNorWmL6hoZi5meXrFJWXLUD8QSrwQAsdxyGQy/RPvaW6fzTB9ziEpRahPZJT81WqVvkHA78pefhPyE8kRhupkk06xECIQG2MO12gBqrmOFOxHthTYUrBPaAPVNnVUu6niui6O47S8PDg4yMTERIBbWVmhUCggpYzk70unhlm8Ntb28datC4F47ssW996vQdr+v3ghBL7vUy6XA3wymURrTaVSCXT+UBtYwI6vWS001TCGk0MJUpZkrVhGNzX6x46/t1TdOq+UYmNjg/X19caRaVmMj49TKpVYXl7Gtu3AGI3UdQAl+bj5l7H5Tw1ux2Px5nkujw5xZuEz7FbrtsESkFYtO1l1muuB896y6quilKrHPUEKSDbl0QZVG5HDCYuCoSG+wwg60tMmknilVP+UGDg2oOqLcuhR2XKJ0JpcLofnedH9HeGadf/DN06kbUqeDlqmF/HGGPL5PEKIePze9pYuebP6c2+oD6jQnRd9sIzoEre1DYlIjRESKPahj3+6xHGgKIGXEe5CYVAA3h3g3tb4GLc3rxTwCEgBV4F0j0m/A8+AFwf4BeA4MA2M9lhju9ach/8GANfFuVIHy61bAAAAAElFTkSuQmCC') no-repeat;
    width: 100%;
    height: 100%;
    display: block;
}

.keg-addrow a:hover {
    background-position: -25px 0 !important;
}

/* Pagination */
.keg-pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 4px;
}

.keg-page-item {
    display: inline;
}

.keg-page-link {
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #428bca;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
}

.keg-page-link:hover, .keg-page-link:focus {
    background-color: #eee;
    border-color: #ddd;
    color: #2a6496;
    border-bottom: #ffd148 2px solid !important;
}

.keg-page-item.active > .keg-page-link, .keg-page-item.active > .keg-page-link:hover, .keg-page-item.active > .keg-page-link:focus {
    background-color: #428bca;
    border-color: #428bca;
    color: #fff;
    cursor: default;
    z-index: 2;
}

.keg-page-item.disabled > .keg-page-link, .keg-page-item.disabled > .keg-page-link:hover, .keg-page-item.disabled > .keg-page-link:focus {
    background-color: #fff;
    border-color: #ddd;
    color: #999;
    cursor: not-allowed;
}

.keg-page-item:first-child > .keg-page-link {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin-left: 0;
}

.keg-page-item:last-child > .keg-page-link {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.keg-footer {
    display: flex;
    /*justify-content: space-between;*/
    margin-top: 5px;
    flex-wrap: wrap;
}

.keg-page-info {
    padding: 5px 10px;
    font-size: 16px;
    white-space: nowrap;
    flex: 1 1 auto;
    text-align: end;
    color: rgba(0,0,0,.54);
}

.keg-page-info > span {
    color: #212529;
}

.keg-row-totals {
    font-weight: bold;
}

.keg-totals-lv0 {
    background-color: #ACE1AF;
}

.keg-totals-lv1 {
    background-color: #D0F0C0;
}

.keg-totals-lv2 {
    background-color: #D0F2C0;
}

.keg-totals-lv3 {
    background-color: #D0F4C0;
}

.keg-totals-lv4 {
    background-color: #D0F6C0;
}

.keg-totals-lv5 {
    background-color: #D0F8C0;
}

.keg-sortable-helper {
    background-color: white;
    padding: 3px 20px;
    border: 2px solid #fb9c2f;
    border-radius: 4px;
}


.eqjs-chart-main, .eqjs-chart-content, .keg-container, .keg-root {
    height: 100%;
}

.eqjs-chart-content canvas {
    max-height: 100%;
}