@page "/easydata/{url?}"
@model EasyDataBasicDemo.Pages.EasyDataModel
@{
    ViewData["Title"] = "EasyData";
}

@section Styles {
    <style>
        li:hover {
            cursor: pointer;
            background-color: aliceblue;
        }

        li.active:hover {
            background-color: mediumblue;
        }

        .ed-root {
            display: flex;
        }

        .ed-entity-menu {
            width: 100%;
            max-width: 600px;
        }
        .ed-menu-description {
            margin: auto;
            text-align: center;
        }
    </style>
}

<div id="EasyDataContainer"></div>

@section Scripts {

    <script src="~/js/easydata.js" type="text/javascript"></script>
}