@page "/easydata/{entity?}"

@implements IAsyncDisposable

@inject IJSRuntime JSRuntime

<div class="container">
    <div id="EasyDataContainer"></div>
</div>

@code {        

    [Parameter]
    public string Entity { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) {
            await JSRuntime.InvokeVoidAsync("runEasyData");
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private bool _disposed = false;

    public async ValueTask DisposeAsync()
    {
        if (!_disposed)
        {

            _disposed = true;

            await JSRuntime.InvokeVoidAsync("stopEasyData");
        }
    }

}
