@page "/easydata/{**entity}"
@model EasyDataBasicDemo.Pages.EasyDataModel
@{
    ViewData["Title"] = "EasyData";
}


<div id="EasyDataContainer"></div>

@section Scripts {

    <script src="~/js/easydata.js" type="text/javascript"></script>
}